<div *ngIf="localWeather">
  <div fxLayout="row">
    <div fxFlex="66%" class="mat-title no-margin">{{localWeather.city}}, {{localWeather.country}}</div>
    <div fxFlex class="right mat-subheading-2 no-margin">{{localWeather.date | date:'EEEE MMM d'}}</div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div fxFlex="66%">
      <img style="zoom: 175%" [src]='localWeather.image'>
    </div>
    <div fxFlex class="right mat-display-3 no-margin">{{localWeather.temperature | number:'1.0-0'}}
      <span class="unit">℉</span>
    </div>
  </div>
  <div fxLayoutAlign="center" class="mat-caption">
    {{localWeather.description}}
  </div>
</div>